<header>
  <div class="brand">
    <a href="/"><p class="client-brand">Client Name/logo</p></a>
    <p>Company name and Logo</p>
  </div>
  <div class="nav-buttons">
    <div ngbDropdown class="d-inline-block">
      <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
    <button mat-button>Log Out</button>
  </div>
</header>