.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10% 33%;
}

.error {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 0 5px;
}