.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10% 33%;
}