<div class="login">
  <h3>Please Login</h3>
  <div *ngIf="error" class="error">
    <p>Incorrect Username or Password. Please try again.</p>
  </div>
  <div class="login-form">
    <mat-form-field>
      <input [(ngModel)]="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button mat-button type="submit" (click)="login(event)">Login</button>
  </div>
</div>